<div class="container">
    <div class="listBtn"> <button mat-raised-button color="primary" type="submit" (click)="navigate()">User List</button></div>
    <div fxLayout="column" fxLayoutAlign="center center" >
        <mat-card class="card">
                <mat-card-header>
                    <mat-card-title *ngIf="!isSubmitted">Create User</mat-card-title>
                </mat-card-header>
            <mat-card-content>
                <div *ngIf="!isSubmitted">
                    <div class="form">
                        <form [formGroup]="userForm" class="example-form" (ngSubmit)="onSubmit(userForm)">
                            <mat-form-field class="field">
                                <mat-label>Name</mat-label>
                                <input matInput formControlName="name" required>
                                <mat-error *ngIf="userForm.get('name')?.invalid ||
                    userForm.get('name')?.errors">
                                    Please enter a valid name. It should only contain letters
                                </mat-error>
                            </mat-form-field><br>

                            <mat-form-field class="field">
                                <mat-label>Email</mat-label>
                                <input matInput type="email" formControlName="email" required>
                                <mat-error *ngIf="userForm.get('email')?.invalid ||
                    userForm.get('email')?.errors ">
                                    Please enter a valid email address
                                </mat-error>
                            </mat-form-field><br>

                            <mat-form-field class="field">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" formControlName="password" required>
                                <mat-error *ngIf="userForm.get('password')?.invalid ||
                    userForm.get('password')?.errors">
                                    Please enter a valid password. It should contain 8 or more characters with 1 capital
                                    letter,1 small letter, 1 number and 1 special characters
                                </mat-error>
                            </mat-form-field><br>
                            <mat-form-field class="field">
                                <mat-label>Choose your DOB</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error
                                    *ngIf="!userForm.get('dateOfBirth')?.touched || userForm.get('dateOfBirth')?.invalid">
                                    DOB is required
                                </mat-error>
                            </mat-form-field><br><br>

                            <mat-label>Gender</mat-label> &nbsp;
                            <mat-radio-group aria-label="Select an option" formControlName="gender" required
                                class="field">
                                <mat-radio-button value="Male" [checked]="true">Male</mat-radio-button>&nbsp;
                                <mat-radio-button value="Female">Female</mat-radio-button>
                            </mat-radio-group><br><br>

                            <mat-form-field class="field">
                                <mat-label>Phone Number</mat-label>
                                <input matInput type="number" formControlName="number" required><br>
                                <mat-error *ngIf="userForm.get('number')?.invalid ||
                    userForm.get('number')?.errors">Please enter a valid number. It should only be 10 digits
                                </mat-error>
                            </mat-form-field><br>
                            <div fxLayout="row" fxLayoutAlign="end center">
                                <button mat-raised-button color="accent" type="submit" [disabled]="userForm.get('name')?.invalid ||userForm.get('email')?.invalid || 
                            userForm.get('password')?.invalid || userForm.get('dateOfBirth')?.invalid ||
                            userForm.get('gender')?.invalid || userForm.get('number')?.invalid">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div *ngIf="isSubmitted">
                    <div>User details submmitted successfully</div><br>
                    <div fxLayout="row" fxLayoutAlign="space-between center" >
                        <button mat-raised-button color="accent" type="submit" (click)="navigate()">List of Users</button>
                        <button mat-raised-button color="primary" type="submit" (click)="back()">Back</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>