<div class="form">
    <form [formGroup]="userForm" class="example-form" (ngSubmit)="onSubmit(userForm)">

        <h2>User</h2>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" required>
            <mat-error *ngIf="userForm.get('name')?.invalid &&
            userForm.get('name')?.errors && 
            (userForm.get('name')?.dirty) ||  userForm.get('name')?.touched">
                Please enter a valid name
            </mat-error>
            <mat-error *ngIf="!userForm.get('name')?.touched">
                Name is equired
            </mat-error>
        </mat-form-field><br>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="userForm.get('email')?.invalid &&
            userForm.get('email')?.errors && 
            (userForm.get('email')?.dirty) ||  userForm.get('email')?.touched">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="!userForm.get('email')?.touched">
                Email is equired
            </mat-error>

        </mat-form-field><br>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error *ngIf="userForm.get('password')?.invalid &&
            userForm.get('password')?.errors && 
            (userForm.get('password')?.dirty) || userForm.get('password')?.touched">
                Please enter a valid password
            </mat-error>
            <mat-error *ngIf="!userForm.get('password')?.touched">
                Password is equired
            </mat-error>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Choose your DOB</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="!userForm.get('dateOfBirth')?.touched || userForm.get('dateOfBirth')?.invalid">
                DOB is equired
            </mat-error>

        </mat-form-field><br>

        <mat-label>Gender</mat-label> &nbsp;
        <mat-radio-group aria-label="Select an option" formControlName="gender" required>
            <mat-radio-button value="Male" [checked]="true">Male</mat-radio-button>&nbsp;
            <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group><br>

        <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input matInput type="number" placeholder="Phone Number" formControlName="number" required><br>
            <mat-error *ngIf="userForm.get('number')?.invalid &&
            userForm.get('number')?.errors && 
            (userForm.get('number')?.dirty) ||  userForm.get('number')?.touched">Please enter a valid number
            </mat-error>
            <mat-error *ngIf="!userForm.get('number')?.touched">
                Phone Number is equired
            </mat-error>
        </mat-form-field><br>

        <button mat-raised-button color="accent" type="submit">Submit</button>

    </form>
</div>